<% provide(:title, @team.nickname) %>
<div class="well">
  	<center><h1><%= @team.nickname %></h1></center>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="well">
			<center><h3>Revenue Quota:</h3><h4><%= @team.revenue_quota %></h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class="well">
			<center><h3>YTD Revenue:</h3><h4>$1</h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class="well">
			<center><h3>+/-</h3><h4>$1</h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class="well">
			<center><h3>DP YTD Revenue:</h3><h4>$9,250,593</h4>
		</div>
	</div>
</div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Team Members</a></li>
    <li><a href="#tab2" data-toggle="tab">Active Searches (<%= @searches.count %>)</a></li>
    <li><a href="#tab3" data-toggle="tab">Past Searches (<%= Team.find(params[:id]).searches.where(:closed => true).count %>)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table table-striped">
				<thead>
					<th>Name</th>
					<th>Title</th>
					<th>Team</th>
				</thead>
				<tbody>
					<%= render @users %>
				</tbody>
			</table>
    </div>
    <div class="tab-pane" id="tab2">
      <table class="table table-striped">
				<thead>
					<th>Client</th>
					<th>Position</th>
					<th>Fee</th>
				</thead>
				<tbody>
					<%= render @searches %>
				</tbody>
			</table>
    </div>
    <div class="tab-pane" id="tab3">
      <table class="table table-striped">
				<thead>
					<th>Client</th>
					<th>Position</th>
					<th>Fee</th>
				</thead>
				<tbody>
					<%= render @closed %>
				</tbody>
			</table>
    </div>
  </div>
</div>