<div class="row">
    <div class="span6">

		<%= simple_form_for(@user, :html => { class: 'form-horizontal' }) do |f| %>
		  <%= render 'shared/error_messages' %>
		  <%= f.input :name %> 
		  <%= f.input :email %>
		  <%= f.input :title %>
		  <%#= f.association :team, as: :select, label: 'Partner' %>
		  <%= f.input :password %>
		  <%= f.input :password_confirmation, label: 'Password Confirmation' %>
		  <%= f.button :submit, label: 'Update', class: "btn btn-primary" %>
		<% end %>

	</div>
</div>