<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><%= user.title %></td>
  <td><%= link_to user.team.name, user.team %></td>
  <td><% if current_user.partner? && !current_user?(user) %>
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %> <% end %></td>
</tr>