<% provide(:title, @user.name) %>
<div class="well">
  <center><h1><%= @user.name %> - <%= link_to @user.team.nickname, @user.team  %></h1></center>
</div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Active Searches (<%= @searches.count %>)</a></li>
    <li><a href="#tab2" data-toggle="tab">Past Searches (<%= User.find(params[:id]).searches.where(:closed => true).count %>)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table table-striped">
				<thead>
					<th>Client</th>
					<th>Position</th>
					<th>Fee</th>
				</thead>
				<tbody>
					<%= render @searches %>
				</tbody>
			</table>
    </div>
    <div class="tab-pane" id="tab2">
      <table class="table table-striped">
				<thead>
					<th>Client</th>
					<th>Position</th>
					<th>Fee</th>
				</thead>
				<tbody>
					<%= render @closed %>
				</tbody>
			</table>
    </div>
  </div>
</div>