<tr>
  <td><%= link_to search.position, search %></td>
  <td><%= search.created_at.month%>/<%= search.created_at.day%>/<%= search.created_at.year %></td>
  <td><% if current_user.partner? %>
     <%= link_to "delete", search, method: :delete,
                                  data: { confirm: "You sure?" } %><% end %>
</tr>