<tr>
  <td><%= link_to search.client.name, search.client %></td>
  <td><%= link_to search.position, search %></td>
  <td><%= search.fee %></td>
 <!-- <td><%= search.created_at.month %>/<%= search.created_at.day %>/<%= search.created_at.year %></td>-->
</tr>